
<head>
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" type="text/css" href="/~stulacha/poker/app/assets/stylesheets/welcome.scss" />
</head>

<div class ="navbar navbar-inverse navbar-static-top">
    
                            <ul class= "nav navbar-nav navbar-right">
                                                    
                            
                            <li>
                            
                            <!--<a href="../login"><strong>Logout</strong></a>-->
                            <%= link_to "Log Out", logout_path %>

                            </li>
                            
                        
                          </ul><!-- /.nav -->
</div>

<center><h2><font color="blue">You are logged in!</font></h2></center>

